<form>
  <div class="form-group">
    <label for="addendA">Operando A</label>
    <input
      id="addendA"
      type="number"
      class="form-control"
      placeholder="Escribe operando A"
      [(ngModel)]="addendA"
      name="addendA">
  </div>
  <div class="form-group">
    <label for="addendB">Operando B</label>
    <input
      id="addendB"
      type="number"
      class="form-control"
      [(ngModel)]="addendB"
      name="addendB"
      placeholder="Escribe operando B">
    <button class="btn btn-primary"
            type="submit"
            [disabled]="addendA === null || addendB == null"
            (click)="add()">
      Sumar
    </button>
  </div>
</form>
<p>Resultado: {{result}}</p>
